@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    ViewData["Title"] = "My Playlists";
}

<div class="text-center">
    <h1 class="display-4">My Spotify Playlists</h1>
    <p>This is where the playlist data will be displayed.</p>
</div>





    
