@using Main.Models
@model List<Main.Models.PlaylistViewModel>


@{
	ViewData["Title"] = "Delete_Playlists";
}

<h1>Delete_Playlists</h1>

<div style="text-align: center; padding: 50px;">
	<h1>Search Playlists</h1>
	<p>Click the button below to search for Playlists.</p>


	<form method="get" asp-action="Get_Tracks_To_Query_For_Deletion" asp-controller="Home">

		<input type="text" name="User_Query" placeholder="Enter Playlist" value="@ViewBag.Query" />
		<button type="submit">Search</button>

	</form>
<br /></br>	
	<form method="get" asp-action="Song_Query" asp-controller="Home">

		<input type="text" name="User_Query" placeholder="Enter tracks to delete" value="@ViewBag.Query" />
		<button type="submit">Search</button>

	</form>




