@using Main.Models
@model List<Main.Models.PlaylistViewModel>


@{
	ViewData["Title"] = "Delete_Playlists";
}

<h1>Delete_Playlists</h1>

<div style="text-align: center; padding: 50px;">
	<h1>Search Playlists</h1>
	<p>Click the button below to search for Playlists.</p>

	<form method="get" asp-action="Delete_Playlists" asp-controller="Home">

		<input type="text" name="User_Query" placeholder="Enter Playlists name" value="@ViewBag.Query" />
		<button type="submit">Search</button>
	</form>



	<form method="post" asp-action="Delete_Playlists" asp-controller="Home">

		<input type="text" name="User_Query_Tracks" placeholder="Enter Playlists name" value="@ViewBag.Query" />
		<button type="submit">Search</button>

	</form>

