
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.StatusMessage
    </div>
}

<div style="text-align: center; padding: 50px;">
    <h1>My Spotify App</h1>
    <p>Click the button below to connect your Spotify account.</p>
    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;">Login with Spotify</a>
</div>

<div style="text-align: center; padding: 50px;">
    <h1>Get Playlists</h1>
    <p>Click the button below to get your Spotify playlists.</p>
    <a asp-controller="Home" asp-action="Get_Playlists" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;">Get Playlists</a>
</div>

<div style="text-align: center; padding: 50px;">
    <h1>Get Podcasts</h1>
    <p>Click the button below to get your Spotify playlists.</p>
    <a asp-controller="Home" asp-action="Get_Podcasts"  class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;">Find podcasts</a>
</div>

<div style="text-align: center; padding: 50px;">
    <h1>Delete Playlist Items</h1>
    <p>Click the button below to get your Spotify playlists.</p>
    <a asp-controller="Home" asp-action="Delete_Playlist" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;">Delete Playlists</a>
</div>